<div class="container padding-width">
    <div class="row register-message">
        <h2 class="align-center ">Registration successful!</h2>
        <p class="align-center">You are now registered a new account.</p>
    </div>
</div>