<style>
    header {
        background-color: black;
        margin-bottom: 10px;
    }
</style>
<div class="contact-area section-padding-100" style="padding-top: 80px; padding-bottom: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="contact-form" style="padding: 30px 30px;">
                    <h2 class="align-center ">Registration successful!</h2>
        <p class="align-center">You are now registered a new account.</p>
                </div>
            </div>
        </div>
    </div>
</div>