<style>
    header {
        background-color: black;
    }
</style>
<section class="contact-area section-padding-100" style="padding-top: 80px; padding-bottom: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="contact-form" style="padding: 30px 30px;">
                    <h5>Sign up</h5>
                    <form action="register-success" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="text" name="firstName" id="firstName" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter your first name</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="text" name="lastName" id="lastName" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter your last name</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="email" name="email" id="Email" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter your email</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="datetime-local" name="birthDate">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter your birthday</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="password" name="password" id="password" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter your password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn world-btn">
                                    <a href="register-success">
                                        <span>
                                            Sign up
                                        </span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>