<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>1412315 - 1412329 Magazine</title>
    <link rel="icon" href="/stylesheets/img/core-img/favicon.ico">
    <link rel="stylesheet" type='text/css' href="/stylesheets/style.css">

</head>

<body>
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="home">Home</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav"
                            aria-controls="worldNav" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>
                        
                        <div class="collapse navbar-collapse" id="categoryNav">
                            <ul class="navbar-nav ml-auto" id="categoryNav" role="tablist">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Kinh doanh</a>
                                    <div class="dropdown-menu">
                                        <a class="nav-link" id="tab7" data-toggle="tab" href="#world-tab-7" role="tab"
                                            aria-controls="world-tab-7" aria-selected="false">Nông sản</a>
                                        <a class="nav-link" id="tab8" data-toggle="tab" href="#world-tab-8" role="tab"
                                            aria-controls="world-tab-8" aria-selected="false">Hải sản</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Tài chính - Ngân hàng</a>
                                    <div class="dropdown-menu">
                                        <a class="nav-link" id="tab7" data-toggle="tab" href="#world-tab-7" role="tab"
                                            aria-controls="world-tab-7" aria-selected="false">Chứng khoán</a>
                                        <a class="nav-link" id="tab8" data-toggle="tab" href="#world-tab-8" role="tab"
                                            aria-controls="world-tab-8" aria-selected="false">Bảo hiểm</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                        aria-expanded="false">Văn hóa - Xã hội</a>
                                    <div class="dropdown-menu">
                                        <a class="nav-link" id="tab7" data-toggle="tab" href="#world-tab-7" role="tab" aria-controls="world-tab-7"
                                            aria-selected="false">Văn hóa</a>
                                        <a class="nav-link" id="tab8" data-toggle="tab" href="#world-tab-8" role="tab" aria-controls="world-tab-8"
                                            aria-selected="false">Xã hội</a>
                                        <a class="nav-link" id="tab8" data-toggle="tab" href="#world-tab-8" role="tab" aria-controls="world-tab-8"
                                            aria-selected="false">Đời sống</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse navbar-collapse" id="worldNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">My profile</a>
                                        <a class="dropdown-item" href="account/login">Sign in</a>
                                        <a class="dropdown-item" href="account/register">Register</a>
                                        <a class="dropdown-item" href="#">Log Out</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" style="font-size: smaller">Forget password</a>
                                </li>
                                {{!-- <li class="nav-item">
                                    <a class="nav-link" href="account/register">Register</a>
                                </li> --}}
                            </ul>
                        </div>
                        

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-400 bg-img background-overlay"
        style="background-image: url(/stylesheets/img/blog-img/bg4.jpg);"></div>
    <!-- ********** Hero Area End ********** -->

    {{{body}}}


    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <a href="#"><img src="/stylesheets/img/core-img/logo.png" alt=""></a>
                        <div class="copywrite-text mt-30">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <ul class="footer-menu d-flex justify-content-between">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Video</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <h5>Subscribe</h5>
                        <form action="#" method="post">
                            <input type="email" name="email" id="email" placeholder="Enter your mail">
                            <button type="button"><i class="fa fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/stylesheets/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/stylesheets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/stylesheets/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/stylesheets/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/stylesheets/js/active.js"></script>
</body>

</html>