<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>1412315 - 1412329 Magazine</title>
    <link rel="icon" href="/stylesheets/img/core-img/favicon.ico">
    <link rel="stylesheet" type='text/css' href="/stylesheets/style.css">
    <style>
        header {
            background-color: black;
        }
    </style>
</head>

<body>
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="../../home">HOME</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav"
                            aria-controls="worldNav" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse" id="categoryNav">
                            <ul class="navbar-nav ml-auto" id="categoryNav" role="tablist">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Kinh doanh</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="../page/category">Tài chính - Đầu tư</a>
                                        <a class="dropdown-item" href="../page/category">Doanh nghiệp</a>
                                        <a class="dropdown-item" href="../page/category">Thị trường</a>
                                    </div>
                                </li>
                                {{!-- <!--#region main  --> --}}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Kinh doanh</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="../page/category">Tài chính - Đầu tư</a>
                                        <a class="dropdown-item" href="../page/category">Doanh nghiệp</a>
                                        <a class="dropdown-item" href="../page/category">Thị trường</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Thế giới</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="../page/category">Châu Á</a>
                                        <a class="dropdown-item" href="../page/category">EU và Nga</a>
                                        <a class="dropdown-item" href="../page/category">Châu Âu</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Văn hóa - Xã hội</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="../page/category">Chính trị</a>
                                        <a class="dropdown-item" href="../page/category">Môi trường</a>
                                        <a class="dropdown-item" href="../page/category">Đời sống văn hóa</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Đời sống</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="../page/category">Cộng đồng</a>
                                        <a class="dropdown-item" href="../page/category">Nhà đẹp</a>
                                        <a class="dropdown-item" href="../page/category">Bảo vệ gia đình Việt</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Thể thao</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="../page/category">Thể thao trong nước</a>
                                        <a class="dropdown-item" href="../page/category">Thể thao quốc tế</a>
                                        <a class="dropdown-item" href="../page/category">Bóng đá trong nước</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Giáo dục</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="../page/category">Tin tuyển sinh</a>
                                        <a class="dropdown-item" href="../page/category">Khuyến học</a>
                                        <a class="dropdown-item" href="../page/category">Gương sáng</a>
                                    </div>
                                </li>
                                <!--#endregion -->
                            </ul>
                        </div>

                        <div class="collapse navbar-collapse" id="worldNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="../account/my-profile">My profile</a>
                                        <a class="dropdown-item" href="../account/login">Sign in</a>
                                        <a class="dropdown-item" href="../account/register">Register</a>
                                        <a class="dropdown-item" href="../../home/logout">Log out</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" style="font-size: smaller">Forget password</a>
                                </li>
                                {{!-- <li class="nav-item">
                                    <a class="nav-link" href="account/register">Register</a>
                                </li> --}}
                            </ul>
                        </div>
                        <div id="search-wrapper">
                            <form action="#">
                                <input type="text" id="search" placeholder="Search something...">
                                <div id="close-icon"></div>
                                <input class="d-none" type="submit" value="">
                            </form>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    {{{body}}}
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div style="color: #ffffff">
                        <p>
                            <h5 style="color: #ffffff">About Us</h5>
                            <ul>
                                <li>Dang Ba Minh</li>
                                <li>Vu Dang Minh</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="footer-single-widget">
                        <h5>Subscribe</h5>
                        <form action="#" method="post">
                            <input type="email" name="email" id="email" placeholder="Enter your mail">
                            <button type="button"><i class="fa fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/stylesheets/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/stylesheets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/stylesheets/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/stylesheets/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/stylesheets/js/active.js"></script>
</body>

</html>