<style>
    header {
        background-color: black;
        margin-bottom: 10px;
    }
</style>

<div class="contact-area section-padding-100" style="padding-top: 80px; padding-bottom: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="contact-form" style="padding: 30px 30px;">
                    {{#if isSuccess}}
                    <h2 class="align-center ">Password change successful!</h2>
                    {{else}}
                    <h2 class="align-center ">Password change failed!</h2>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>