<div>
    <h2 class="align-center">Login</h2>
    <h4 style="color: red; text-align: center">
        <span class="align-center">Password is incorrect</span>
        <form action="/home" method="post">
            <label for="">Username</label>
            <input required id="login-username" class="custom-input" type="text" name="username">
            <label for="">Password</label>
            <input required id="login-password" class="custom-input" type="password" name="rawPWD">
            <input type="checkbox" id="remember">
            <label for="remember">Remember password?</label>
            <button id="btn-login" type="submit" class="btn">
                <span>Login</span>
            </button>
        </form>
        <div>
            <a href="#">Don't have account?</a>
        </div>
</div>
</div>