<style>
    header {
        background-color: black;
    }
</style>
<section class="contact-area section-padding-100" style="padding-top: 80px; padding-bottom: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="contact-form" style="padding: 30px 30px;">
                    <h5>Sign in</h5>
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="email" name="email" id="email" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter your email</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="password" name="password" id="password" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter your password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn world-btn">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>