<div class="contact-area section-padding-100" style="padding-top: 80px; padding-bottom: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="contact-form" style="padding: 30px 30px;">
                    <h2 class="align-center ">Log out successful!</h2>
                    <a href="../home">Back to homepage</a>
                </div>
                
            </div>
        </div>
    </div>
</div>