<div class="card header-margin contact-area section-padding-100" style="padding: 80px 100px;">
        <div class="card-header">
            <strong>Details</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Họ tên: </label>
                        </div>
                        <div class="col-md-8">
                            <span>abc</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Email: </label>
                        </div>
                        <div class="col-md-8">
                            <span>abc@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Ngày tháng năm sinh: </label>
                        </div>
                        <div class="col-md-8">
                            <span>abc</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Bút danh:</label>
                        </div>
                        <div class="col-md-8">
                            <span>abc</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <button class="btn btn-white" type="button">Cancel</button> &nbsp;
                    <button class="btn btn-primary" type="button">Change Password</button>
                </div>
            </div>
        </div>
    </div>