<section class="contact-area section-padding-100" style="padding-top: 80px; padding-bottom: 30px;"></section>
<div class="container">
    <div class="justify-content-center">
        <div>
            <div class="w3-bar w3-black row">
                <button class="w3-bar-item w3-button form-control" style="width: fit-content;"
                    onclick="writerPage('post')">Post News</button>
                <button class="w3-bar-item w3-button form-control" style="width: fit-content;"
                    onclick="writerPage('manage')">Manage News</button>
            </div>
        </div>
        <div class="col-md-12" id="post" class="News">
            <div class="contact-form" style="padding: 30px 30px;">
                <form action="../account/writer/post-news" method="post">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="group">
                                <input type="text" name="title" id="title" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Title</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="group">
                                <input type="text" name="category" id="category" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Category</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="group">
                                <input type="text" name="tag" id="tag" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Tag</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="group">
                                <textarea name="summary" id="summary" required></textarea>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Summary</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <textarea id="editor" name="editor" style="width: 100%;"></textarea>
                        </div>
                        {{!-- <div class="col-12 col-md-12 mt-50" id="editor"></div> --}}
                        <div class="col-12">
                            <button type="submit" class="btn world-btn float-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12" id="manage" class="News" style="display:none">
            <div class="contact-form" style="padding: 30px 30px;">
                <div>
                    <div class="container">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>Manage <b>Employees</b></h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                                                class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
                                        <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i
                                                class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="selectAll">
                                                <label for="selectAll"></label>
                                            </span>
                                        </th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                                <label for="checkbox1"></label>
                                            </span>
                                        </td>
                                        <td>Thomas Hardy</td>
                                        <td>thomashardy@mail.com</td>
                                        <td>89 Chiaroscuro Rd, Portland, USA</td>
                                        <td>(171) 555-2222</td>
                                        <td>
                                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                    class="material-icons" data-toggle="tooltip"
                                                    title="Edit">&#xE254;</i></a>
                                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                    class="material-icons" data-toggle="tooltip"
                                                    title="Delete">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix">
                                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                                <ul class="pagination">
                                    <li class="page-item disabled"><a href="#">Previous</a></li>
                                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
</script>
<script>
    function writerPage(s) {
        if (s === 'manage') {
            $("#manage").show();
            $("#post").hide();
        } else {
            $("#manage").hide();
            $("#post").show();
        }
    }
</script>